<th:block th:fragment>

    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
            PathFinder
        </a>

        <nav class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <a class="nav-link px-2 link-dark" href="/">Home</a>
            <a class="nav-link px-2 link-dark" href="/about">About</a>
            <a class="nav-link px-2 link-dark" href="/routes/add">Add new route</a>
            <a class="nav-link px-2 link-dark" href="/profile">Profile</a>
            <a class="nav-link px-2 link-dark" href="/admin">Admin</a>
            <a class="nav-link px-2 link-dark" href="/logout">Logout</a>
        </nav>

        <div class="col-md-3 text-end">
            <a href="/login" type="button" class="btn btn-primary me-2">Login</a>
            <a href="/register" type="button" class="btn btn-warning">Sign-up</a>
        </div>
    </div>

</th:block>